@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-sans;
    @apply text-neutral-700;
    --accent: 0, 128, 108;
    --accent-light: 0, 230, 195;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html,
  body {
    @apply h-full;
    @apply bg-white;
  }

  main,
  section {
    @apply m-0 p-0;
  }
}

@layer components {
  .column {
    @apply flex-grow;
    @apply basis-0;
    @apply flex-shrink;
    @apply p-3;
  }
}

@layer utilities {
  .toggle-btn {
    position: absolute;
    top: -8px;
    right: 4px;
    padding: 4px;
    border-radius: 9px;
    background-color: white;
  }

  .toggle-btn p:hover {
    cursor: pointer;
  }

  .toggle-btn .selected {
    background-color: white;
    border: 2px solid #00b398;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  }

  .calendar-container {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
}
