@import "prismjs/themes/prism-okaidia.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply font-sans;
        @apply text-slate-800;
        --accent: 0, 128, 108;
        --accent-light: 0, 230, 195;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
                45deg,
                rgb(var(--accent)),
                rgb(var(--accent-light)) 30%,
                white 60%
        );
    }

    html,
    body {
        @apply bg-white;
    }

    p > a {
        @apply text-keppel-800 underline;
    }

    p > a:hover {
        @apply text-keppel-500 underline;
    }

    p > a:focus {
        @apply text-keppel-600 underline outline-2 outline-keppel-400;
    }

    h1 {
        @apply text-3xl font-semibold leading-tight lg:text-4xl;
    }

    h2 {
        @apply text-2xl font-semibold leading-tight lg:text-3xl;
    }

    h3 {
        @apply text-xl font-semibold leading-tight lg:text-2xl;
    }

    h4 {
        @apply text-lg font-semibold leading-tight lg:text-xl;
    }

    h5 {
        @apply text-md font-semibold leading-tight lg:text-lg;
    }

    h6 {
        @apply text-sm font-semibold leading-tight lg:text-md;
    }
}

@layer components {
    .px-page {
        @apply px-12 sm:px-16 lg:px-14 xl:px-20;
    }

    .px-none {
        @apply px-0 sm:px-0 md:px-0 lg:px-0 xl:px-0;
    }

    .prose ul:not(:where([class~="not-prose"], [class~="not-prose"] *)) {
        @apply list-disc;
        @apply pl-6;
    }

    .prose li::marker {
        @apply text-current;
    }

    section[data-align="left"] .getHeaderAlignFromParent {
        @apply max-w-[1/2];
        @apply items-center;
        @apply lg:items-start;
    }

    section[data-align="center"] .getHeaderAlignFromParent {
        @apply items-center;
    }

}
