@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    @apply font-sans;
    @apply text-neutral-700;
    --accent: 0, 128, 108;
    --accent-light: 0, 230, 195;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }

  html,
  body {
    @apply h-full;
    @apply bg-white;
    zoom: 1;
  }

  main,
  section {
    @apply m-0 p-0;
  }
}

p > a {
  @apply text-keppel-700;
}

p > a:hover {
  @apply text-keppel-500;
}

p > a:focus {
  @apply text-keppel-600 outline-2 outline-keppel-600;
}

/* Apply zoom on all screen sizes */
@media {
  body {
    zoom: 1;
  }
}

@layer components {
  .column {
    @apply flex-grow;
    @apply basis-0;
    @apply flex-shrink;
    @apply p-3;
  }

  .content-wrapper {
    @apply w-full px-6 sm:px-8 md:px-12 lg:px-32 xl:px-40;
  }

  /* Remove default margins from images in MDX content */
  .prose img {
    @apply my-4 py-4;
  }

@layer utilities {
  .toggle-btn {
    position: absolute;
    top: -8px;
    right: 4px;
    padding: 4px;
    border-radius: 9px;
    background-color: white;
  }

  .toggle-btn p:hover {
    cursor: pointer;
  }

  .toggle-btn .selected {
    background-color: white;
    border: 2px solid #00b398;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.2);
  }

  .calendar-container {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
}

/* For Webkit browsers (Chrome, Safari) */
.force-scrollbar::-webkit-scrollbar {
  height: 8px; /* Or whatever height you want */
  width: 8px; /* For vertical scrollbar if you ever need it */
  background-color: transparent; /* Makes the track background transparent */
}

/* The thumb (the draggable part of the scrollbar) */
.force-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* Light gray */
  border-radius: 4px; /* Rounded corners */
  border: 2px solid transparent; /* To prevent it from taking full height/width if smaller than track */
  background-clip: padding-box; /* Crucial for border to work as padding */
}

/* On hover */
.force-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* Darker gray on hover */
}

/* For Firefox (less control, but you can set width/height) */
.force-scrollbar {
  scrollbar-width: thin; /* 'auto' or 'none' */
  scrollbar-color: #d1d5db transparent; /* thumb color track color */
}
