@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        @apply font-body;
        @apply text-base;
        @apply text-neutral-700;
        --accent: 0, 128, 108;
        --accent-light: 0, 230, 195;
        --accent-dark: 49, 10, 101;
        --accent-gradient: linear-gradient(
                45deg,
                rgb(var(--accent)),
                rgb(var(--accent-light)) 30%,
                white 60%
        );
    }

    html,
    body {
        @apply h-full;
    }

    body {
        @apply grid;
        @apply bg-neutral-50;
        grid-template-columns:
      1fr
      min(1000px, 100%)
      1fr;
    }

    body > * {
        grid-column: 2;
        @apply px-3;
    }
}


@layer components {
    .event {
        @apply relative;
        @apply mb-1.5;
        @apply text-left;
        @apply py-0.5;
        @apply pr-1;
        @apply pl-2;
    }

    .event * {
        @apply m-0;
    }

    .column {
        @apply flex-grow;
        @apply basis-0;
        @apply flex-shrink;
        @apply p-3;
    }

    .datetime {
        @apply text-sm;
        @apply text-primary-500;
    }

    .weekly-datetime {
        @apply text-darkblue;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .title {
        font-size: 15px;
        font-weight: bold;
        word-wrap: break-word;
    }

    .big-font {
        font-size: 1.5em;
    }

    .calendar {
        margin: auto;
        width: 100%;
    }

    .control-row {
        min-height: 32px;
        position: relative;
    }

    .toggle-btn {
        position: absolute;
        top: -8px;
        right: 4px;
        padding: 4px;
        border-radius: 2px;
        background-color: rgba(0, 179, 152, 0.3);
        box-shadow: inset 0px 4px 16px 0px rgba(0, 0, 0, 0.1);
    }

    .toggle-btn p {
        display: inline-block;
        margin: 0px;
        border-radius: 2px;
        padding: 4px 8px 2px 8px;
        font-size: 15px;
    }

    .toggle-btn p:hover {
        cursor: pointer;
    }

    .toggle-btn .selected {
        background-color: white;
        box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2);
    }

    .bump-margin-top {
        margin-top: 1.5em;
    }

    .calendar-container {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }

    .calendar-button {
        margin-top: 10px;
    }

    .overflow-hidden {
        overflow: hidden;
    }

    .item {
        min-width: 30ch;
    }
}
